EXPO_PUBLIC_FIREBASE_API_KEY="AIzaSyD2mBV7YSTZVwZ3akiBjZCKUv61k2zkc-Q"
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN="campus-crawler.firebaseapp.com"
EXPO_PUBLIC_FIREBASE_PROJECT_ID="campus-crawler"
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET="campus-crawler.firebasestorage.app"
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="164260312979"
EXPO_PUBLIC_FIREBASE_APP_ID="1:164260312979:web:83f7f004e6c796c143da66"
EXPO_PUBLIC_FIREBASE_MEASUREMENT_ID="G-N22QRYB7MM"